/* Here is your custom css styles. */
.sa-nav {
  transition: color 0.3s;
}

.sa-nav-item:hover .sa-nav {
  color: #1890ff;
}

.nav-item:hover .sa-nav {
  color: #1890ff;
}
body {
  cursor: url(../cur/Arrow.cur), default;
}
a:hover {
  cursor: url(../cur/Button.cur), pointer;
}
